# {{ ansible_managed }}

LoadPlugin bind

<Plugin "bind">
  URL "http://localhost:8053"
  ParseTime       false

  OpCodes         true
  QTypes          true

  ServerStats     true
  ZoneMaintStats  true
  ResolverStats   false
  MemoryStats     true

  <View "_default">
    QTypes        true
    ResolverStats true
    CacheRRSets   true

    Zone "127.in-addr.arpa/IN"
  </View>
</Plugin>
