# {{ ansible_managed }}

{{ bind_logdir }}/*.log
{
  size 50M
  daily
  missingok
  rotate 5
  compress
  notifempty
  create 0644 bind bind
  sharedscripts
  prerotate
    rndc reload &> /dev/null
  endscript
}
