// {{ ansible_managed }}

options {
    directory "/var/cache/bind";

    // Exchange port between DNS servers
    query-source address * port *;

    // Conform to RFC1035
    auth-nxdomain no;

    // Listen on local interfaces only(IPV4)
    listen-on-v6 { none; };

    // Do not transfer the zone information to the secondary DNS
    allow-transfer { none; };

    // Accept requests for internal network only
    allow-query { internals; };

    // Allow recursive queries to the local hosts
    allow-recursion { internals; };

    // Do not make public version of BIND
    version none;
};
