# {{ ansible_managed }}

[Unit]
Description=Kibana 4

[Service]
User={{ kibana_user }}
WorkingDirectory={{ kibana_install_dir }}
ExecStart={{ kibana_install_dir }}/kibana-{{ kibana_version }}-linux-x64/bin/kibana
PIDFile={{ kibana_pidfile }}
StandardOutput=null

[Install]
WantedBy=multi-user.target
