# {{ ansible_managed }}
# Nginx proxy for Kibana

server {
  server_name     {{ kibana_domain }};

  location / {
    proxy_pass http://localhost:{{ kibana_port }};
    proxy_buffering off;

    # Access Control
    allow 127.0.0.1;
    allow {{ ansible_default_ipv4.address }};
{% for n in trusted_networks | default([]) %}
    allow {{ n }};
{% endfor -%}
    deny all;
  }
}
