# {{ ansible_managed }}

# General
cluster.name: {{ elasticsearch.cluster }}
node.name: "{{ inventory_hostname }}"

# Networking
network.bind_host: {{ elasticsearch.bind_host }}
network.publish_host: {{ elasticsearch.bind_host }}
transport.bind_host: {{ elasticsearch.publish_host }}
transport.publish_host: {{ elasticsearch.publish_host }}
transport.tcp.port: {{ elasticsearch.tcp_port }}
http.port: {{ elasticsearch.http_port }}

# Cross-origin Resource Sharing
# Can be enabled here, but is implemented on Nginx proxy
#http.cors.allow-origin: "/.*/"
#http.cors.enabled: true

# Discovery
discovery.zen.minimum_master_nodes: {{ elasticsearch.min_masters | default('1') }}
discovery.zen.ping_timeout: {{ elasticsearch.timeout | default('3') }}s
{% if elasticsearch_group is defined and groups[elasticsearch_group] | length > 1 %}
discovery.zen.ping.unicast.hosts: [
{% for h in groups[elasticsearch_group] %}
{% if hostvars[h]['ansible_default_ipv4']['address'] != ansible_default_ipv4.address %}
    "{{ hostvars[h]['ansible_default_ipv4']['address'] }}"{% if not loop.last %},{% endif %}
{% endif %}
{% endfor %} ]
{% endif %}
