# {{ ansible_managed }}
#

# General
#
cluster.name: {{ elasticsearch.cluster }}
node.name: "{{ inventory_hostname }}"

# Indexing/Sharding
#
index.number_of_shards: 5
# We want each index to be replicated on exactly one node
# Setting this to <es_servers> - 1 ensures green cluster state
index.number_of_replicas: {{ (groups[elasticsearch.ansible_group] | count) - 1 }}

# Networking
#
network.bind_host: {{ elasticsearch.bind_host }}
network.publish_host: {{ elasticsearch.publish_host }}
transport.bind_host: {{ elasticsearch.publish_host }}
transport.tcp.port: {{ elasticsearch.tcp_port }}
http.port: {{ elasticsearch.http_port }}

# Cross-origin Resource Sharing
# Can be enabled here, but is implemented on Nginx proxy
#http.cors.allow-origin: "/.*/"
#http.cors.enabled: true

# Discovery
#
discovery.zen.minimum_master_nodes: {{ elasticsearch.min_masters | default('1') }}
discovery.zen.ping.timeout: {{ elasticsearch.timeout | default('3') }}s
discovery.zen.ping.multicast.enabled: {{ elasticsearch.multicast | default('false') }}
discovery.zen.ping.unicast.hosts: [
{%- for h in groups[elasticsearch.ansible_group] -%}
{% set a = hostvars[h]['ansible_default_ipv4']['address'] -%}
{% if a != ansible_default_ipv4.address %}
"{{ a }}"
{% if not loop.last %},{% endif -%}
{% endif -%}
{% endfor %} ]
