<?php
####
# {{ ansible_managed }}
####

### Mainly for autodiscovery
$config['mydomain'] = "{{ domains.lan }}";
$config['title_image'] = "images/{{ observium.title_image }}";

### User LibreNMS will run as
$config['user'] = 'www-data';

### Database config
$config['db_host'] = "{{ hostvars[groups[mysql.backend_group][0]]['ansible_default_ipv4']['address'] }}";
$config['db_user'] = "{{ mysql.apps.observium.user }}";
$config['db_pass'] = "{{ mysql.apps.observium.pass }}";
$config['db_name'] = "{{ mysql.apps.observium.db }}";

### Memcached config - We use this to store realtime usage
// $config['memcached']['enable']  = FALSE;
// $config['memcached']['host']    = "localhost";
// $config['memcached']['port']    = 11211;

### Locations - it is recommended to keep the default
$config['install_dir']  = "{{ observium.install_dir }}";

### This should *only* be set if you want to *force* a particular hostname/port
### It will prevent the web interface being usable form any other hostname
$config['base_url']        = "http://{{ observium.url }}/";

### Enable this to use rrdcached. Be sure rrd_dir is within the rrdcached dir
### and that your web server has permission to talk to rrdcached.
#$config['rrdcached']    = "unix:/var/run/rrdcached.sock";

### Default community
$config['snmp']['community'] = array({% for n in snmp_comms | default([]) %}"{{ n }}",{% endfor %});

### Authentication Model
$config['auth_mechanism'] = "mysql"; # default, other options: ldap, http-auth
#$config['http_auth_guest'] = "guest"; # remember to configure this user if you use http-auth

### List of RFC1918 networks to allow scanning-based discovery
{% for n in internal_networks %}
$config['nets'][] = "{{ n }}";
{% endfor %}

# following is necessary for poller-wrapper
# poller-wrapper is released public domain
$config['poller-wrapper']['alerter'] = TRUE;

# Uncomment the next line to disable daily updates
$config['update'] = 0;

# Enable the unix agent by default
$config['poller_modules']['unix-agent'] = 1;

# Feature Toggles
# $config['enable_map'] = false;
# $config['enable_syslog'] = false;
