# {{ ansible_managed }}

33  */6   * * *   {{ observium.user }}    {{ observium.install_dir }}/discovery.php -h all >> /dev/null 2>&1
*/5  *    * * *   {{ observium.user }}    {{ observium.install_dir }}/discovery.php -h new >> /dev/null 2>&1
*/5  *    * * *   {{ observium.user }}    {{ observium.install_dir }}/cronic {{ observium.install_dir }}/poller-wrapper.py 16
15   0    * * *   {{ observium.user }}    {{ observium.install_dir }}/daily.sh >> /dev/null 2>&1
*    *    * * *   {{ observium.user }}    {{ observium.install_dir }}/alerts.php >> /dev/null 2>&1
*/5  *    * * *   {{ observium.user }}    {{ observium.install_dir }}/poll-billing.php >> /dev/null 2>&1
01   *    * * *   {{ observium.user }}    {{ observium.install_dir }}/billing-calculate.php >> /dev/null 2>&1
*/5  *    * * *   {{ observium.user }}    {{ observium.install_dir }}/check-services.php >> /dev/null 2>&1
