# {{ ansible_managed }}
{#
A small explanation here: Aptly (used to package the lanparty distro)
does not support publishing with the 'archive' (a=) parameter.
Since the distribution's name is fixed to 'lanparty', we hardcode it here.
http://unix.stackexchange.com/questions/84804/pinning-and-local-repos
#}
Package: *
{% if item is defined %}
{% if item.key == 'lanparty' %}
Pin: release n=lanparty
{% else %}
Pin: release a={{ item.key }}
{% endif %}
Pin-Priority: {{ item.value }}
{% else %}
Pin: release l=Debian-Security
Pin-Priority: 550
{% endif %}
