# {{ ansible_managed }}
# Package sources for {{ item.key }}
{% set s = item.value %}

deb http://{{ s.site | default('httpredir.debian.org/debian') }} {{ s.distro | default(item.key) }} {{ s.components | default(['main']) | join(' ') }}

{% if s.source | default(false) %}
deb-src http://{{ s.site | default('httpredir.debian.org/debian') }} {{ s.distro | default(item.key) }} {{ s.components | default(['main']) | join(' ') }}
{% endif %}
