// {{ ansible_managed }}

{% if item.value.warmod is not defined or not item.value.warmod %}
// Disable SourceMod (and WarMod) by setting bogus MetaMod search path
mm_basedir "/dev/null"
{% endif %}

hostname "{{ lp.name }} {{ item.value.rules | capitalize }} {{ steam_server_id }}.{{ item.key }}"

rcon_password "{{ steam_rcon }}"
sv_password "{{ steam_svpassword }}"

# Game server token
{% if item.value.token is defined %}
sv_setsteamaccount "{{ item.value.token }}"
{% endif %}

// Expose serverquery info
host_players_show 2
host_info_show 2

{% if item.value.gotv | default(false)  %}
tv_enable "1"
tv_title "{{ lp.name }} GOTV {{ steam_server_id }}.{{ item.key }}"
tv_name "{{ lp.name }} GOTV {{ steam_server_id }}.{{ item.key }}"
tv_password "{{ csgo_gotv_password | default('stream') }}"
tv_maxclients "{{ csgo_gotv_maxclients | default(4) }}"
tv_snapshotrate "{{ csgo_gotv_snaprate | default(64) }}"
tv_delaymapchange 1
{% endif %}

{% if item.value.coach | default(false) %}
sv_coaching_enabled 1
{% endif %}

sv_mincmdrate "{{ item.value.tickrate | default('128') }}"
sv_minupdaterate "{{ item.value.tickrate | default('128') }}"

sv_minrate 80000
sv_maxrate 0

exec rules_{{ item.value.rules | default('esl5on5') }}.cfg
