# {{ ansible_managed }}
GAMEPORT="+port {{ item.value.gameport }}"
TVPORT="+tv_enable 1 +tv_port {{ item.value.gameport + 5 }}"
SLOTS="-maxplayers_override {{ item.value.slots | default('12') }}"
TICK="-tickrate {{ item.value.tickrate | default('128') }}"
AUTHKEY="{{ csgo_authkey | default('') }}"
WS_COLLECTION="{{ csgo_workshop_collection | default('') }}"
WS_START_MAP="{{ csgo_workshop_startmap | default('') }}"
WORKSHOP="{% if csgo_authkey | length > 0 %}-authkey $AUTHKEY +host_workshop_collection $WS_COLLECTION +workshop_start_map $WS_START_MAP{% else %}+map de_dust2{% endif %}"
LD_LIBRARY_PATH="{{ steamcmd_path }}/games/csgo:{{ steamcmd_path }}/games/csgo/bin"
CMDLINE="-game csgo -usercon -console +ip 0.0.0.0 +game_type 0 +game_mode 1 +sv_lan 1"
