# {{ ansible_managed }}
[Unit]
Description=Counter-Strike: Global Offensive Gameserver
After=network.target network-online.target

[Service]
User={{ steamcmd_user }}
EnvironmentFile={{ steamcmd_path }}/games/csgo/env/env_%I
ExecStart={{ steamcmd_path }}/games/csgo/srcds_linux $GAMEPORT $TV $TICK $SLOTS $WORKSHOP $CMDLINE +servercfgfile server_%I.cfg

[Install]
WantedBy=multi-user.target
