; {{ ansible_managed }}

[BDD]
MYSQL_IP = "{{ hostvars[groups[mysql.backend_group][0]]['ansible_default_ipv4']['address'] }}"
MYSQL_PORT = "{{ mysql.port | default(3306) }}"
MYSQL_USER = "{{ mysql.apps.ebot.user }}"
MYSQL_PASS = "{{ mysql.apps.ebot.pass }}"
MYSQL_BASE = "{{ mysql.apps.ebot.db }}"

[Config]
BOT_IP = "{{ ansible_default_ipv4.address }}"
BOT_PORT = 12360
MANAGE_PLAYER = 1
DELAY_BUSY_SERVER = 120
NB_MAX_MATCHS = 0
PAUSE_METHOD = "nextRound" ; nextRound or instantConfirm or instantNoConfirm
EVENT_NAME = "{{ ebot_event_name }}"

[Match]
LO3_METHOD = "restart" ; restart or csay or esl
KO3_METHOD = "restart" ; restart or csay or esl
DEMO_DOWNLOAD = true ; true or false :: whether gotv demos will be downloaded from the gameserver after matchend or not

[MAPS]
{% for m in ebot_maps %}
MAP[] = "{{ m }}"
{% endfor %}
{% for wm in ebot_workshop_maps %}
MAP[] = "{{ wm.0 }}"
{% endfor %}

[WORKSHOP IDs]
{% for wm in ebot_workshop_maps %}
WORKSHOP["{{ wm.0 }}"] = "{{ wm.1 }}"
{% endfor %}

[Settings]
COMMAND_STOP_DISABLED = false
RECORD_METHOD = "matchstart" ; matchstart or knifestart
DELAY_READY = true
