# {{ ansible_managed }}

user nobody

resolver {
    nameserver 8.8.8.8
    mode ipv4_only
}

error_log {
    filename /var/log/sniproxy/error.log
    priority notice
}

access_log {
    filename /var/log/sniproxy/access.log
}

listen 0.0.0.0:443 {
    proto tls
}

table {
{% for r in sniproxy_rules | default([]) %}
    {{ r.pattern }} {{ r.target }}
{% endfor %}
}
