# {{ ansible_managed }}
{#
A small explanation here: Aptly (used to package the lanparty distro)
does not support publishing with the 'archive' (a=) parameter.
Since the distribution's name is fixed to 'lanparty', we hardcode it here.
http://unix.stackexchange.com/questions/84804/pinning-and-local-repos
#}

Package: *
{% if item.key == 'lanparty' %}
Pin: release n=lanparty
{% endif %}
Pin: origin {{ item.value.site | default('httpredir.debian.org/debian') | split_url }}
Pin: release a={{ item.value.distro | default(item.key) }}
Pin-Priority: {{ item.value.priority | default(500) }}
