# {{ ansible_managed }}

server {
  listen          *:80;
  server_name     {{ cloudinit_domain }};

  location / {
    root {{ cloudinit_dir }};

    # Access Control
    {% for n in trusted_networks -%}
    allow {{ n }};
    {% endfor -%}
    deny all;
  }
}
