#cloud-config
groups:
  - admin

users:
  - name: admin
    primary-group: admin
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock-passwd: true
    ssh-authorized-keys:
{% for u in users %}
{% for k in u.sshkeys %}
      - {{ lookup('file', 'files/keys/' + u.name + '/' + k.name + '.pub') }}
{% endfor %}
{% endfor %}
