#cloud-config
groups:
{% for name, _ in users.iteritems() %}
  - {{ name }}
{% endfor %}

users:
{% for name, user in users.iteritems() %}
{% set sshkeys = lookup('file', 'files/keys/' + name) %}
  - name: "{{ name }}"
    primary-group: "{{ name }}"
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    lock-passwd: "false"
{% if sshkeys | length > 0 %}
    ssh-authorized-keys:
      - {{ sshkeys }}
{% endif %}
{% endfor %}
