# {{ ansible_managed }}

input {
  beats {
    port => {{ logstash.beats | default(5044) }}
  }
}

filter {
  if [type] == "nginx-access" {
    grok {
      match => { "message" => "%{IP:remote_addr:ip} - %{USERNAME:remote_user} \[%{HTTPDATE:date_local}\] %{QS:request} %{NUMBER:status:int} %{NUMBER:body_bytes_sent:int} %{QS:http_referer} %{QS:http_user_agent} %{QS:upstream_cache_status} %{QS:domain} %{QS:http_range}" }
      add_field => [ "received_at", "%{@timestamp}" ]
      add_field => [ "received_from", "%{host}" ]
    }
  }

  if [type] == "bind-query" {
    grok {
      match => { "message" => "%{MONTHDAY:day}-%{MONTH:month}-%{YEAR:year} %{TIME:time} queries: info: client %{IP:srcip:ip}#%{DATA:srcport} \(%{DATA:hostname}\): query: %{DATA:hostname2} %{DATA:querytype3} %{DATA:querytype} %{DATA:querytype2} \(%{IP:dstip:ip}\)" }
      add_field => [ "timestamp", "%{day}-%{month}-%{year} %{time}" ]
    }
  }
}

output {
{% if elasticsearch_group is defined %}
  elasticsearch {
    index => "%{[@metadata][type]}-%{+YYYY.MM.dd.HH}"
    hosts => [
{% for h in groups[elasticsearch_group] %}
      "{{ hostvars[h]['ansible_default_ipv4']['address'] }}:80"{% if not loop.last %},{% endif %}
{% endfor %} ]
  }
{% endif %}
}
