# {{ ansible_managed }}

input {
  syslog {
    port => {{ logstash.ports.syslog_http }}
  }
}

filter {
  if [type] == "syslog" {
    grok {
      match => { "message" => "%{IP:remote_addr} - %{USERNAME:remote_user} \[%{HTTPDATE:date_local}\] %{QS:request} %{INT:status} %{INT:body_bytes_sent} %{QS:http_referer} %{QS:http_user_agent} %{QS:upstream_cache_status} %{QS:domain} %{QS:http_range}" }
      add_field => [ "received_at", "%{@timestamp}" ]
      add_field => [ "received_from", "%{host}" ]
    }
  }
}

output {
  elasticsearch {
    protocol => "node"
    index => "nginx-%{+YYYY.MM.dd.HH}"
    port => "{{ elasticsearch.tcp_port }}"
    host => "{{ hostvars[groups[elasticsearch.ansible_group][0]]['ansible_default_ipv4']['address'] }}"
    cluster => "{{ elasticsearch.cluster }}"
  }
}
