# {{ ansible_managed }}

input {
  syslog {
    port => {{ logstash.syslog | default(5140) }}
    type => syslog
  }
}

filter {
  if [type] == "syslog" {
    grok {
      match => { "message" => "%{SYSLOGTIMESTAMP:syslog_timestamp} %{SYSLOGHOST:syslog_hostname} %{DATA:syslog_program}(?:\[%{POSINT:syslog_pid}\])?: %{GREEDYDATA:syslog_message}" }
      add_field => [ "received_at", "%{@timestamp}" ]
      add_field => [ "received_from", "%{host}" ]
    }
    date {
      match => [ "syslog_timestamp", "MMM  d HH:mm:ss", "MMM dd HH:mm:ss" ]
    }
  }
}

output {
{% if elasticsearch_group is defined %}
  elasticsearch {
    index => "%{[@metadata][type]}-%{+YYYY.MM.dd.HH}"
    hosts => [
{% for h in groups[elasticsearch_group] %}
      "{{ hostvars[h]['ansible_default_ipv4']['address'] }}:80"{% if not loop.last %},{% endif %}
{% endfor %} ]
  }
{% else %}
  file {
    path => "/var/log/logstash/%{host}/%{type}.log"
  }
{% endif %}
}
