[Unit]
Description=Open vSwitch Internal Unit
PartOf=openvswitch-switch.service

After=local-fs.target systemd-tmpfiles-setup.service
Wants=network-pre.target openvswitch-switch.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/etc/default/openvswitch-switch
ExecStart=/usr/share/openvswitch/scripts/ovs-ctl start \
          --system-id=random $OVS_CTL_OPTS
ExecStop=/usr/share/openvswitch/scripts/ovs-ctl stop
