[Unit]
Description=Open vSwitch
Before=networking.service
After=local-fs.target
AssertPathExists=/run/openvswitch/db.sock
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/etc/default/openvswitch-switch
ExecStart=/usr/share/openvswitch/scripts/ovs-ctl start \
          --system-id=random $OVS_CTL_OPTS
ExecStop=/usr/share/openvswitch/scripts/ovs-ctl stop
TimeoutStartSec=10

[Install]
WantedBy=networking.service
