#! /bin/bash

### BEGIN INIT INFO
# Provides:             netns_oob
# Required-Start:       $remote_fs $syslog
# Required-Stop:        $remote_fs $syslog
# Default-Start:        2 3 4 5
# Default-Stop:
# Short-Description:    Out-of-Band Namespace for SSHd
### END INIT INFO

NETNS={{ oob.netns }}
PID={{ oob.pid }}
IFACES=({{ oob.ifaces | join(' ') }})

set -e

# Check if /sbin/ip exists
test -x /sbin/ip || exit 0

. /lib/lsb/init-functions

export PATH="${PATH:+$PATH:}/usr/sbin:/sbin"

check_namespace() {
    /sbin/ip netns | grep "^$NETNS$" > /dev/null
}

create_namespace() {
    # Set up namespace
    if /sbin/ip netns add $NETNS; then
        log_daemon_msg "Created Network Namespace" "$NETNS"
        log_end_msg 0 || true
    else
        log_end_msg 1 || true
    fi

    # Bring up local interface; this command is idempotent
    /sbin/ip netns exec $NETNS ip link set lo up
}

delete_namespace() {
    # Delete up namespace
    if /sbin/ip netns delete $NETNS; then
        log_daemon_msg "Deleted Network Namespace" "$NETNS"
        log_end_msg 0 || true
    else
        log_end_msg 1 || true
    fi
}

assign_interfaces() {
    # Add interfaces to namespace
    for i in $IFACES; do
        log_daemon_msg "Adding $i to" "$NETNS"
        if /sbin/ip link | grep "$i" > /dev/null; then
            # Set namespace for interface
            /sbin/ip link set $i netns $NETNS
            sleep 1
            /sbin/ip netns exec $NETNS /sbin/ifup $i
        fi
    done
    true
}

case "$1" in
  start)
        if ! check_namespace; then
            create_namespace
        else
            log_daemon_msg "Network Namespace" "$NETNS already exists."
            log_end_msg 0 || true
            exit 1
        fi
        assign_interfaces
        ;;
  stop)
        log_daemon_msg "Deleting an in-use netns leaves it in an inconsistent state. Use service netns-oob restart to re-assign interfaces"
        log_end_msg 0 || true
        ;;

  restart)
        if ! check_namespace; then
          create_namespace
          log_daemon_msg "Network Namespace created" "$NETNS"
          log_end_msg 0 || true
        fi

        if assign_interfaces; then
          log_end_msg 0 || true
        fi
        ;;

  status)
        if check_namespace; then
            log_daemon_msg "Network Namespace exists" "$NETNS"
            log_end_msg 0 || true
            exit 0
        else
            log_daemon_msg "Network Namespace" "$NETNS does not exist."
            log_end_msg 1 || true
            exit 1
        fi
        ;;
  *)
        log_action_msg "Usage: /etc/init.d/$0 {start|stop|restart|status}" || true
        exit 1
esac


exit 0
