#! /bin/sh

### BEGIN INIT INFO
# Provides:             sshd_oob
# Required-Start:       $remote_fs $syslog $sshd netns_oob
# Required-Stop:        $remote_fs $syslog $sshd netns_oob
# Default-Start:        2 3 4 5
# Default-Stop:
# Short-Description:    Out-of-Band OpenBSD Secure Shell server
### END INIT INFO

NETNS={{ oob.netns }}
PID={{ oob.pid }}

set -e

# /etc/init.d/ssh: start and stop the OpenBSD "secure shell(tm)" daemon

test -x /usr/sbin/sshd || exit 0
( /usr/sbin/sshd -\? 2>&1 | grep -q OpenSSH ) 2>/dev/null || exit 0

umask 022

if test -f /etc/default/ssh; then
    . /etc/default/ssh
fi

. /lib/lsb/init-functions

SSHD_OPTS="-o PidFile=$PID"

if [ -n "$2" ]; then
    SSHD_OPTS="$SSHD_OPTS $2"
fi

# Are we running from init?
run_by_init() {
    ([ "$previous" ] && [ "$runlevel" ]) || [ "$runlevel" = S ]
}

check_for_no_start() {
    # forget it if we're trying to start, and /etc/ssh/sshd_oob_not_to_be_run exists
    if [ -e /etc/ssh/sshd_oob_not_to_be_run ]; then
        if [ "$1" = log_end_msg ]; then
            log_end_msg 0 || true
        fi
        if ! run_by_init; then
            log_action_msg "Out-of-Band OpenBSD Secure Shell server not in use (/etc/ssh/sshd_oob_not_to_be_run)" || true
        fi
        exit 0
    fi
}

check_dev_null() {
    if [ ! -c /dev/null ]; then
        if [ "$1" = log_end_msg ]; then
            log_end_msg 1 || true
        fi
        if ! run_by_init; then
            log_action_msg "/dev/null is not a character device!" || true
        fi
        exit 1
    fi
}

check_config() {
    if [ ! -e /etc/ssh/sshd_oob_not_to_be_run ]; then
        /usr/sbin/sshd $SSHD_OPTS -t || exit 1
    fi
}

export PATH="${PATH:+$PATH:}/usr/sbin:/sbin"

case "$1" in
  start)
        check_for_no_start
        check_dev_null
        log_daemon_msg "Starting Out-of-Band OpenBSD Secure Shell server" "sshd-oob" || true
        if /sbin/ip netns exec $NETNS start-stop-daemon --start --quiet --oknodo --pidfile $PID --exec /usr/sbin/sshd -- $SSHD_OPTS; then
            log_end_msg 0 || true
        else
            log_end_msg 1 || true
        fi
        ;;
  stop)
        log_daemon_msg "Stopping Out-of-Band OpenBSD Secure Shell server" "sshd-oob" || true
        if start-stop-daemon --stop --quiet --oknodo --pidfile $PID; then
            log_end_msg 0 || true
        else
            log_end_msg 1 || true
        fi
        ;;

  reload|force-reload)
        check_for_no_start
        check_config
        log_daemon_msg "Reloading Out-of-Band OpenBSD Secure Shell server's configuration" "sshd-oob" || true
        if /sbin/ip netns exec $NETNS start-stop-daemon --stop --signal 1 --quiet --oknodo --pidfile $PID --exec /usr/sbin/sshd; then
            log_end_msg 0 || true
        else
            log_end_msg 1 || true
        fi
        ;;

  restart)
        check_config
        log_daemon_msg "Restarting Out-of-Band OpenBSD Secure Shell server" "sshd-oob" || true
        start-stop-daemon --stop --quiet --oknodo --retry 30 --pidfile $PID
        check_for_no_start log_end_msg
        check_dev_null log_end_msg
        if /sbin/ip netns exec $NETNS start-stop-daemon --start --quiet --oknodo --pidfile $PID --exec /usr/sbin/sshd -- $SSHD_OPTS; then
            log_end_msg 0 || true
        else
            log_end_msg 1 || true
        fi
        ;;

  try-restart)
        check_config
        log_daemon_msg "Restarting Out-of-Band OpenBSD Secure Shell server" "sshd-oob" || true
        RET=0
        start-stop-daemon --stop --quiet --retry 30 --pidfile $PID || RET="$?"
        case $RET in
            0)
                # old daemon stopped
                check_for_no_start log_end_msg
                check_dev_null log_end_msg
                if /sbin/ip netns exec $NETNS start-stop-daemon --start --quiet --oknodo --pidfile $PID --exec /usr/sbin/sshd -- $SSHD_OPTS; then
                    log_end_msg 0 || true
                else
                    log_end_msg 1 || true
                fi
                ;;
            1)
                # daemon not running
                log_progress_msg "(not running)" || true
                log_end_msg 0 || true
                ;;
            *)
                # failed to stop
                log_progress_msg "(failed to stop)" || true
                log_end_msg 1 || true
                ;;
        esac
        ;;

  status)
        status_of_proc -p $PID /usr/sbin/sshd sshd-oob && exit 0 || exit $?
        ;;

  *)
        log_action_msg "Usage: /etc/init.d/ssh-oob {start|stop|reload|force-reload|restart|try-restart|status}" || true
        exit 1
esac

exit 0
