# {{ ansible_managed }}

[global]
{% if samba_interfaces is defined and samba_interfaces is iterable  %}
  interfaces = lo {{ samba_interfaces | join(" ") }}
  bind interfaces only = yes
{% endif %}
  workgroup = {{ samba_workgroup | default('WORKGROUP') }}
  username map = /etc/samba/smbusers
  netbios name = {{ ansible_hostname }}
  security = {{ samba_security | default('user') }}

{% for share in samba_shares %}
[{{ share.name }}]
  path = {{ share.path }}
  browsable = {{ share.browsable | default('yes') }}
  writable = {{ share.writable | default('yes') }}
  guest ok = {{ share.guest | default('no') }}
  force create mode = 0664
  force directory mode = 2775
{% endfor %}
