# {{ ansible_managed }}
{
  "network": {
    "servers": [ "{{ hostvars[groups['logstash'][0]]['inventory_hostname'] }}:{{ logstash.ports.lumberjack }}" ],
    "timeout": 15,
    "ssl ca": "/etc/logstash-forwarder/pki/logstash-forwarder.crt"
  },

  "files": [
  {% for k, v in lumberjack_files.iteritems() %}
    {
      "paths": [
        "{{ v.files | join(",\n") }}"
      ],
      "fields": { "type": "{{ v.type }}" }
    }
{% endfor %}
  ]
}
