[Unit]
Description=netfilter persistent configuration
DefaultDependencies=no
Before=network.target
Requires=systemd-modules-load.service local-fs.target ipset.service
After=systemd-modules-load.service local-fs.target ipset.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/netfilter-persistent start
ExecStartPost=/sbin/sysctl -p
ExecStop=/usr/sbin/netfilter-persistent stop

[Install]
WantedBy=multi-user.target
