# Frag-o-Matic SNMP Configuration
# {{ ansible_managed }}
#

# Location/Contact Info
syslocation {{ domains.lan }}
syscontact {{ lp.contact }}

# Community Mappings
com2sec readonly localhost {{ snmp_comms.0 }}
{% for n in trusted_networks %}
com2sec readonly {{ n }} {{ snmp_comms.0 }}
{% endfor %}

# Security Group Mappings
group MyROGroup v1    readonly
group MyROGroup v2c   readonly
group MyROGroup usm   readonly

view all included .1 80
access MyROGroup "" any noauth exact all none none

# This line allows Observium to detect the host OS
# if the distro script is installed
extend .1.3.6.1.4.1.2021.7890.1 distro /usr/bin/distro
