{
  "service": {
    "name": "nginx",
    "tags": ["default"],
    "address": "127.0.0.1",
    "port": 80,
    "enableTagOverride": false,
    "checks": [
      {
        "id": "status",
        "name": "Nginx stub_status",
        "http": "http://localhost/status",
        "interval": "10s",
        "timeout": "1s"
      }
    ]
  }
}
