<!DOCTYPE html>
<html>
<head>
<title>Oops.</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>

<body>
<h1>Oops.</h1>
<p>This is your friendly neighborhood webserver. Unfortunately, there's no content here.</p>
<p>If you believe you see this page in error, please contact the event staff.</p>

<p><em>Thank you</em></p>
</body>
</html>
