# {{ ansible_managed }}

/var/log/nginx/*.log
{
  weekly
  missingok
  rotate 15
  compress
  notifempty
  create 0640 www-data www-data
  sharedscripts
  prerotate
  if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
    run-parts /etc/logrotate.d/httpd-prerotate; \
  fi \
  endscript
  postrotate
    invoke-rc.d nginx rotate >/dev/null 2>&1
  endscript
}
