# {{ ansible_managed }}
# Main Nginx Configuration, use sites-enabled/conf.d to install apps
user {{ www_user | default('www-data') }};
worker_processes {{ nginx_worker_processes | default('auto') }};
pid {{ nginx_pid | default('/var/run/nginx.pid') }};

# Increase the open file limit for workers
worker_rlimit_nofile {{ nginx_file_limit | default(16000) }};

events {
  worker_connections 1024;
}

http {
  # General/Transport
  sendfile on;
  tcp_nopush on;
  tcp_nodelay on;

  proxy_headers_hash_bucket_size 128;
  types_hash_max_size 2048;

  # Enable thread pools
  aio threads;

  gzip on;
  gzip_disable "msie6";

  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  # Logging
  access_log /var/log/nginx/access.log;
  error_log /var/log/nginx/error.log;

  # Ubiquitous Log Format
  log_format depot '$remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" "$upstream_cache_status" "$host" "$http_range"';

  # Fix for httpoxy (CVE-2016-5385)
  fastcgi_param HTTP_PROXY "";

  # Includes
  include /etc/nginx/conf.d/*.conf;
  include /etc/nginx/sites-enabled/*;
}
