# {{ ansible_managed }}
#
BaseDir "/var/lib/collectd"
PIDFile "/run/collectd.pid"

Interval 10.0

{#
  This plugin generates many series that are identical across all containers on one host.
  Read the metrics of the host system instead for accurate readings.
#}
{% if not ansible_container %}LoadPlugin cpu{% endif %}

LoadPlugin load
LoadPlugin interface
LoadPlugin syslog
LoadPlugin processes
LoadPlugin swap

<Plugin syslog>
  LogLevel "info"
</Plugin>

<LoadPlugin df>
  Interval 3600
</LoadPlugin>

<Plugin df>
  ValuesPercentage true
</Plugin>

{% if influxdb_server is defined %}
LoadPlugin network
<Plugin network>
  Server "{{ influxdb_server }}" "{{ influxdb_server_port | default(25826) }}"
</Plugin>
{% endif %}

Include "/etc/collectd.d/*.conf"
