[config]
host={{ ts_mysql_server }}
port={{ mysql.port | default(3306) }}
username={{ mysql.apps.teamspeak.user }}
password={{ mysql.apps.teamspeak.pass }}
database={{ mysql.apps.teamspeak.db }}
socket=
