machine_id=
default_voice_port={{ ts.port }}
voice_ip=0.0.0.0
licensepath=
filetransfer_port=30033
filetransfer_ip=0.0.0.0
query_port=10011
query_ip=0.0.0.0
query_ip_whitelist=query_ip_whitelist.txt
query_ip_blacklist=query_ip_blacklist.txt
{% if ts.use_mysql %}
dbplugin=ts3db_{{ ts.db_driver }}
dbsqlcreatepath=create_{{ ts.db_driver }}/
{% endif %}
dbpluginparameter=
dbsqlpath=sql/
dbconnections=10
logpath=logs
logquerycommands=0
dbclientkeepdays=30
logappend=0
query_skipbruteforcecheck=0
