<?php
// This file was created by Wolfgang (markus@best-practice.se)
// This is for the older navbar setup < r5670
// To install, copy this into your observium install directory such as /opt/observium/html/includes/navbar-custom.inc.php

# Look for all existing, rendered Weathermaps in weathermap/maps
$rendered_maps = array();
if ($weathermap_dir = opendir('weathermap/maps/')) {
  while (false !== ($weathermap_file = readdir($weathermap_dir))) {
      if (strpos($weathermap_file,'.html')) {
          $weathermap_name = str_replace('.html','',$weathermap_file);
          $rendered_maps[$weathermap_file] = $weathermap_name;
      }
  }
  closedir($weathermap_dir);
}
?>

<li class="dropdown">
  <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><img src="images/16/world.png" border="0" align="absmiddle" /> Weather Maps<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <?php
      # Render the menu entries
      foreach ($rendered_maps as $map_page => $map_name)
      {
        echo('  <li><a href="weathermap/maps/' . $map_page . '"><img src="images/16/map.png" border="0" align="absmiddle" /> ' . $map_name . ' </a></li>');
      }
    ?>
    <li role="presentation" class="divider"></li>
    <li><a href="weathermap/editor.php"><img src="images/16/map_edit.png" border="0" align="absmiddle" /> Editor</a></li>
  </ul>
</li>
