// {{ ansible_managed }}

// Forward Zone
zone "{{ ns.dhcp.zone }}." { type master; file "{{ ns.dhcp.confdir }}/{{ ns.dhcp.zone }}.db"; allow-update { key "{{ ns.rndc.keyname }}"; }; };

// Reverse Zones
{% for zone in ns.dhcp.rzones %}
zone "{{ zone }}.in-addr.arpa." { type master; file "{{ ns.dhcp.confdir }}/rev.{{ ns.dhcp.zone }}.db"; allow-update { key "{{ ns.rndc.keyname }}"; }; };
{% endfor %}
