// {{ ansible_managed }}

// Access Control
acl internals {
  127.0.0.0/8;
{% for net in internal_networks | default([]) %}
  {{ net | ipaddr }};
{% endfor %}
{% for net in ns_allow_extra | default([]) %}
  {{ net | ipaddr }};
{% endfor %}
};

// Resolver Zones
include "{{ ns.domains.confdir }}/domains.conf";

// DHCP Zones
include "{{ ns.dhcp.confdir }}/dhcp.conf";

// Spoof Zones
{% for name, _ in ns.spoof.services.iteritems() %}
include "{{ ns.spoof.confdir }}/{{ name }}.conf";
{% endfor %}

// Cache / Depot Zones
{% for name, _ in depot_sites.iteritems() %}
include "{{ ns.spoof.confdir }}/{{ name }}.conf";
{% endfor %}

{% if dhcp.dyndns | default(false) %}
// TSIG key used for the dynamic update
include "/etc/bind/rndc.key";
{% endif %}

// Configure the communication channel for Administrative BIND9 with rndc
// By default, they key is in the rndc.key file and is used by rndc and bind9
// on the localhost
controls {
    inet 127.0.0.1 port 953 allow {
        127.0.0.1;
{% for net in trusted_networks | default([]) %}
        {{ net | ipaddr }};
{% endfor %}
    };
};

// BIND Options
options {
    directory "/var/cache/bind";

    // Exchange port between DNS servers
    query-source address * port *;

    // Conform to RFC1035
    auth-nxdomain no;

    // Listen on local interfaces only(IPV4)
    listen-on-v6 { none; };

    // Do not transfer the zone information to the secondary DNS
    allow-transfer { none; };

    // Accept requests for internal network only
    allow-query { internals; };

    // Allow recursive queries to the local hosts
    allow-recursion { internals; };

    // Do not make public version of BIND
    version none;
};

// Logging
logging {
    channel query_log {
        file "{{ bind_logdir }}/query.log";
        print-time yes;
        print-severity yes;
        print-category yes;
    };

    category lame-servers { null; };
    category queries {
        query_log;
    };
};

statistics-channels {
  inet 127.0.0.1 port 8053;
};

// ---------------------------------------------------
// Prime the server with knowledge of the root servers
// Be authoritative for the localhost forward and reverse zones,
// and for broadcast zones as per RFC 1912
zone "." {
    type hint;
    file "/etc/bind/db.root";
};
zone "localhost" {
    type master;
    file "/etc/bind/db.local";
};
zone "127.in-addr.arpa" {
    type master;
    file "/etc/bind/db.127";
};
zone "0.in-addr.arpa" {
    type master;
    file "/etc/bind/db.0";
};
zone "255.in-addr.arpa" {
    type master;
    file "/etc/bind/db.255";
};
