// {{ ansible_managed }}
// {{ item.name }} service spoof zone
{% for domain in item.domains %}
// - {{ domain }}
{% endfor %}

{% for domain in item.domains %}
zone "{{ domain }}." IN {
        type master;
        file "{{ ns.spoof.confdir }}/{{ item.name }}.db";
};
{% endfor %}