// {{ ansible_managed }}
// {{ item.key }} service spoof zone
{% for domain in item.value.domains %}
// - {{ domain }}
{% endfor %}

{% for domain in item.value.domains %}
zone "{{ domain }}." IN {
        type master;
        file "{{ ns.spoof.confdir }}/{{ item.key }}.db";
};
{% endfor %}
