# {{ ansible_managed }}
auto lo
iface lo inet loopback

{% for name, value in item.value.ifaces.iteritems() %}
{% if value.address == 'dhcp' %}
auto {{ name }}
iface {{ name }} inet dhcp
{% endif %}
{% endfor %}
