# {{ ansible_managed }}
{% if item.value.store | default('dir') == 'dir' %}
lxc.rootfs = /var/lib/lxc/{{ item.key }}/rootfs
{% elif item.value.store == 'lvm' %}
lxc.rootfs = /dev/{{ lxc_vg }}/{{ item.key }}
{% endif %}

# Common configuration
lxc.include = /usr/share/lxc/config/{{ item.distro | default('debian') }}.common.conf

# Container specific configuration
# lxc.mount = /var/lib/lxc/{{ item.key }}/fstab
lxc.utsname = {{ item.key }}
lxc.arch = amd64
lxc.autodev = 1
{% if item.value.autostart | default(true) %}
lxc.start.auto = 1
{% endif %}

# Always turn this off, Poettering said so :)
# https://bugzilla.redhat.com/show_bug.cgi?id=1038259
lxc.kmsg = 0

# Network Configuration

{% for name, if in item.value.ifaces.iteritems() %}
# Interface {{ name }} - vlan {{ if.vlan }}
lxc.network.type = veth
lxc.network.flags = up
lxc.network.name = {{ name }}
lxc.network.veth.pair = {{ item.key | hash('sha512') | truncate(5, true, "") }}-{{ name | truncate(10, true, "") }}
lxc.network.script.up = /etc/lxc/ovs-up {{ lxc_bridge }} {{ if.vlan }}
lxc.network.script.down = /etc/lxc/ovs-down

lxc.network.hwaddr = {{ if.hwaddr | default('f0:xx:xx:xx:xx:xx') }}

{% if if.address is defined and if.address | ipv4 %}
lxc.network.ipv4 = {{ if.address }}
{% if if.gateway is defined %}
lxc.network.ipv4.gateway = {{ if.gateway }}
{% endif %}
{% elif if.address is defined and if.address | ipv6 %}
lxc.network.ipv6 = {{ if.address }}
{% if if.gateway is defined %}
lxc.network.ipv6.gateway = {{ if.gateway }}
{% endif %}
{% endif %}

{% endfor %}
