# {{ ansible_managed }}
[Unit]
Description=LXC Containers after OpenVSwitch
After=network-after.target openvswitch-switch.service lxc.service
Requires=openvswitch-switch.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/lib/x86_64-linux-gnu/lxc/lxc-devsetup
ExecStartPre=/usr/lib/x86_64-linux-gnu/lxc/lxc-apparmor-load
ExecStart=/usr/lib/x86_64-linux-gnu/lxc/lxc-containers start
ExecStop=/usr/lib/x86_64-linux-gnu/lxc/lxc-containers stop
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
