*** Probes ***

+ {{ smokeping_tool }}
binary = /usr/bin/fping

++ {{ smokeping_tool }}Default

{% for name, value in netif.iteritems() if value.route is defined %}
{% set netloop = loop %}
{% for prioname, prio in gw_priorities|dictsort(false, 'value') %}
++ {{ smokeping_tool }}{{ name }}{{ prioname }}
tos = {{ (netloop.index0 * loop.length + loop.index) * 4 }}

{% endfor %}
{% endfor %}
