*** Targets ***

probe = {{ smokeping_tool }}Default

menu = Top
title = Network Latency Grapher
remark = Welcome to the SmokePing website of Frag-o-Matic Company. \
         Here you will learn all about the latency of our network.

+ Local

menu = Local
title = Local Network
#parents = owner:/Test/James location:/

++ LocalMachine

menu = Local Machine
title = This host
host = localhost
alerts = someloss,rttdetect,hostdown

+ {{ lp.name }}
menu = {{ lp.name }}
title = {{ lp.name }}

++ General
menu = General
title = General pings

{% for targetname, target in smokeping_targets.iteritems() | default({}) %}
++ {{ targetname }}
menu = {{ targetname }}
title = {{ targetname }}

{% for name, value in netif.iteritems() if value.route is defined %}
{% set netloop = loop %}
+++ {{ name }}
menu = {{ name }}
title = {{ name }}

{% for prioname, prio in gw_priorities|dictsort(false, 'value') %}
++++ {{ name }}-{{ prioname }}
menu = {{ prioname }}
title = {{ name }} {{ prioname }}
probe = {{ smokeping_tool }}{{ name }}{{ prioname }}
host = {{ target }}
alerts = someloss,rttdetect,hostdown

{% endfor %}
{% endfor %}

{% endfor %}