# {{ ansible_managed }}
#
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -p udp -m udp --dport 67 -j ACCEPT
-A INPUT -p udp -m udp --dport 68 -j ACCEPT
-A INPUT -p tcp -m tcp --dport ssh -i {{ isp_if.lan }} -j ACCEPT
-A INPUT -p tcp -m tcp --dport {{ observium.agent.port }} -i {{ isp_if.lan }} -j ACCEPT
-A INPUT -p udp -m udp --dport snmp -i {{ isp_if.lan }} -j ACCEPT
-A INPUT -j REJECT --reject-with icmp-port-unreachable
COMMIT

*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
-A POSTROUTING -o {{ isp_if.wan }} -j MASQUERADE
COMMIT

*raw
:PREROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
COMMIT

*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:QOS-SELECTION - [0:0]
-A FORWARD -m comment --comment "CONNMARK > MARK" -j CONNMARK --restore-mark --nfmask 0xffffffff --ctmask 0xffffffff
-A FORWARD -i {{ isp_if.lan }} -j QOS-SELECTION
-A FORWARD -i {{ isp_if.wan }} -m mark --mark 0x0 -m comment --comment "DSCP BE" -j MARK --set-xmark 0x16/0xffffffff
-A FORWARD -m comment --comment "MARK > CONNMARK" -j CONNMARK --save-mark --nfmask 0xffffffff --ctmask 0xffffffff
-A QOS-SELECTION -m dscp --dscp 0x22 -m comment --comment "DSCP AF41" -j MARK --set-xmark 0xb/0xffffffff
-A QOS-SELECTION -m dscp --dscp 0x24 -m comment --comment "DSCP AF42" -j MARK --set-xmark 0xc/0xffffffff
-A QOS-SELECTION -m dscp --dscp 0x1a -m comment --comment "DSCP AF31" -j MARK --set-xmark 0x1f/0xffffffff
-A QOS-SELECTION -m dscp --dscp 0x1c -m comment --comment "DSCP AF32" -j MARK --set-xmark 0x20/0xffffffff
-A QOS-SELECTION -m dscp --dscp 0x00 -m comment --comment "DSCP BE" -j MARK --set-xmark 0x16/0xffffffff
-A QOS-SELECTION -m dscp --dscp 0x12 -m comment --comment "DSCP AF21" -j MARK --set-xmark 0x17/0xffffffff
COMMIT
