# {{ ansible_managed }}
#

# The loopback network interface
auto lo
iface lo inet loopback

{% for i, c in netif|dictsort()%}
allow-hotplug {{ i }}
{% if c.addr is defined and c.addr == 'dhcp' %}
iface {{ i }} inet dhcp
{% else %}
iface {{ i }} inet static
  address {{ c.addr }}
  netmask {{ c.netmask }}
  {% if c.ns is defined and c.ns -%}
  dns-nameservers {% for h in groups['dns'] %}{{ hostvars[h]['ansible_default_ipv4']['address'] }}
  {% endfor -%}
  dns-search {{ domains.lan }}
  {% endif %}
  {%- if c.gateway is defined -%}
  gateway {{ c.gateway }}
  {% elif c.core is defined -%}
  {%- for r in internal_networks -%}
  post-up ip route add {{ r }} via {{ c.core }}
  post-down ip route del {{ r }} via {{ c.core }}
  {% endfor %}
  {% endif %}
{% endif %}
{% if c.macspoof is defined %}
  hwaddress ether {{ c.macspoof }}
{% endif %}

{% endfor %}
