# {{ ansible_managed }}

filebeat:
  prospectors:
{% for name, value in filebeat.iteritems() | default({}) %}
    -
{% if value.type is defined %}
      document_type: {{ value.type }}
{% endif %}
      paths:
{% for path in value.files %}
        - "{{ path }}"
{% endfor %}
{% endfor %}

output.elasticsearch:
  hosts: [
{% for h in groups[elasticsearch_group] %}
    "http://{{ hostvars[h]['ansible_default_ipv4']['address'] }}:80"{% if not loop.last %},{% endif %}
{% endfor %}
  ]
  index: "{{ filebeat_index | default('filebeat-%{+yyyy.MM.dd}') }}"
