/**
 * {{ ansible_managed }}
 * Kibana client-side configuration
 */
define(['settings'],
function (Settings) {
  
  return new Settings({
    elasticsearch: { server: "http://{{ groups[elasticsearch.ansible_group][0] }}", withCredentials: true },
    default_route: '{{ kibana.default_route }}',
    kibana_index: "{{ kibana.int_index }}",

    panel_names: [
      'histogram',
      'map',
      'goal',
      'table',
      'filtering',
      'timepicker',
      'text',
      'hits',
      'column',
      'trends',
      'bettermap',
      'query',
      'terms',
      'stats',
      'sparklines'
    ]
  });
});
