; {{ ansible_managed }}
;
$TTL    86400
@       IN      SOA       {{ ns.auth }}.     {{ lp.soa_contact }}. (
                            1   ; Serial
                       604800   ; Refresh
                        86400   ; Retry
                      2419200   ; Expire
                        86400 ) ; Negative Cache TTL
;
@       IN      NS      {{ ns.auth }}.

@       IN      A       {{ item.value.dest }}
*       IN      A       {{ item.value.dest }}
