# {{ ansible_managed }}

server {
  listen 80;
  server_name .{{ depot_sites.blizzard.domains | join(" .") }};

  access_log {{ depot_logdir }}/blizzard/depot-access.log depot buffer=128k flush=1m;
  error_log {{ depot_logdir }}/blizzard/depot-error.log;

  resolver {{ depot_resolvers | join(" ") }} ipv6=off;

  proxy_cache blizzard;

  include snippets/proxy-base.conf;

  location / {

    include snippets/proxy-slice.conf;

    include snippets/proxy-cache.conf;
    include snippets/proxy-pass.conf;
  }
}
