# {{ ansible_managed }}

server {
  listen 80;
  server_name {{ ns.spoof.services.blizzard.domains | join(" ") }};

  access_log {{ depot_logdir }}/blizzard/depot-access.log depot buffer=128k flush=1m;
  error_log {{ depot_logdir }}/blizzard/depot-error.log;

  resolver {{ depot_resolvers | join(" ") }};

  location / {
    # Cache Location
    proxy_cache blizzard;

    # Cache Settings
    proxy_cache_key "$server_name$request_uri $http_range";
    proxy_cache_valid 206 90d;

    # Some downloads are very large so we cache based on range to keep
    # single downloads quick and hence ensure interactivity is good.
    proxy_set_header Range $http_range;
    proxy_set_header If-Range $http_if_range;

    # Use proxy_cache method
    include depot/proxy-cache.conf;
    include depot/proxy-pass.conf;
  }
}
