# {{ ansible_managed }}

server {
  listen 80;
  server_name .{{ depot_sites.origin.domains | join(" .") }};

  access_log {{ depot_logdir }}/origin/depot-access.log depot buffer=128k flush=1m;
  error_log {{ depot_logdir }}/origin/depot-error.log;

  resolver {{ depot_resolvers | join(" ") }} ipv6=off;

  proxy_cache origin;

  include depot/proxy-base.conf;

  location / {

    include depot/proxy-slice.conf;

    # Extra Cache Settings
    proxy_ignore_headers Expires Cache-Control;

    include depot/proxy-cache.conf;
    include depot/proxy-pass.conf;
  }
}
