# {{ ansible_managed }}

server {
  listen 80;
  server_name .{{ depot_sites.riot.domains | join(" .") }};

  access_log {{ depot_logdir }}/riot/depot-access.log depot buffer=128k flush=1m;
  error_log {{ depot_logdir }}/riot/depot-error.log;

  resolver {{ depot_resolvers | join(" ") }} ipv6=off;

  proxy_cache riot;

  include depot/proxy-base.conf;

  location / {

    include depot/proxy-noslice.conf;

    include depot/proxy-cache.conf;
    include depot/proxy-pass.conf;
  }
}
