# {{ ansible_managed }}

server {
  listen 80;
  server_name .{{ depot_sites.sony.domains | join(" .") }};

  access_log {{ depot_logdir }}/sony/depot-access.log depot buffer=128k flush=1m;
  error_log {{ depot_logdir }}/sony/depot-error.log;

  resolver {{ depot_resolvers | join(" ") }};

  location / {
    proxy_cache sony;

    include depot/proxy-slice.conf;

    # Extra Cache Settings
    proxy_ignore_headers Expires Cache-Control;

    include depot/proxy-cache.conf;
    include depot/proxy-pass.conf;
  }
}
