# {{ ansible_managed }}

server {
  listen 80;
  server_name .{{ depot_sites.steam.domains | join(" .") }};

  access_log {{ depot_logdir }}/steam/depot-access.log depot buffer=128k flush=1m;
  error_log {{ depot_logdir }}/steam/depot-error.log;

  resolver {{ depot_resolvers | join(" ") }} ipv6=off;

  include depot/proxy-base.conf;

  location /depot {
    proxy_cache steam;

    include depot/proxy-noslice.conf;

    # Ignore upstream Expires header choose use our own
    proxy_ignore_headers Expires;

    include depot/proxy-cache.conf;
    include depot/proxy-pass.conf;
  }

  location / {
    # Cache location
    proxy_cache other;
    proxy_cache_key "$host$uri";

    # Use proxy_cache method
    include depot/proxy-cache.conf;
    include depot/proxy-pass.conf;
  }
}
